.acc__wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
  height: auto;

  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
}

.acc__head {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  cursor: pointer;
}

.acc__p {
  font-size: var(--20-font-size);
  color: var(--black);
}

.acc__left {
  margin-top: 0.1rem;
  transform: none;
  transform-origin: center center;
  transition: all 0.5s ease;

  &.active__icon{
    transform: rotate(180deg);
    margin-top: 0;
  }

  svg {
    width: 20px;
    height: auto;
    path {
      fill: var(--black);
    }
  }
}

.acc__body{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.7s ease;

  &.active__acc{
    max-height: 1000px;
  }

  p{
    line-height: 1.3;
  }

  li{
    l
  }
}

.acc__p2{
  width: 90%;
}

.key{
  color: var(--black);
  font-family: var(--medium-font);
}

.ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}
