.bc__section{
  width: 100%;
  height: auto;
}

.bc__container{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.categories{
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: ;
}

.cat__text{
  color: var(--black);
}