.bc__section {
  width: 100%;
  height: auto;
  padding: 0 0 7rem 0;
}

.bc__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.categories {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.cat__text {
  color: var(--black);
}

.cat__wrapper {
  width: max-content;
  height: auto;
  overflow: scroll;
}

.cat__slider {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.category {
  color: var(--black);
  padding: 0.75rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  cursor: pointer;
}

.bc__bottom {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}



//Blog Header Section
.bh__section {
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.bh__container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 11rem 0 4rem;
}

.bh__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bh__h1 {
  font-size: var(--70-font-size);
  font-weight: 400;
  letter-spacing: -2%;
  color: var(--black);
  width: 90%;
  line-height: 1.05;
}

.bhi__wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 20px;
  overflow: hidden;
}

.bh__image {
  width: 100%;
  height: 120%;

  img {
    object-fit: cover;
  }
}



//Blog Details Content
.bdc__section{
  width: 100%;
  height: auto;
  padding: 3rem 0 3rem;
}

.bdc__width{
  width: 70%;
  margin: 0 auto;
}


//Blog More Articles
.ma__section{
  width: 100%;
  padding: 7rem 0;
}

.ma__container{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.