.bc__section {
  width: 100%;
  height: auto;
  padding: 0 0 7rem 0;
}

.bc__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.categories {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.cat__text {
  color: var(--black);
}

.cat__wrapper {
  width: max-content;
  height: auto;
  overflow: scroll;
}

.cat__slider {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.category {
  color: var(--black);
  padding: 0.75rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  cursor: pointer;
}

.bc__bottom {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

//Blog Header Section
.bh__section {
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.bh__container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 11rem 0 4rem;
}

.bh__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bh__h1 {
  font-size: var(--70-font-size);
  font-weight: 400;
  letter-spacing: -2%;
  color: var(--black);
  width: 90%;
  line-height: 1.05;
}

.bhi__wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 20px;
  overflow: hidden;
}

.bh__image {
  width: 100%;
  height: 120%;

  img {
    object-fit: cover;
  }
}

//Blog Details Content
.bdc__section {
  width: 100%;
  height: auto;
  padding: 3rem 0 3rem;
}

.bdc__width {
  width: 70%;
  margin: 0 auto;
}

//Blog More Articles
.ma__section {
  width: 100%;
  padding: 7rem 0;
}

.ma__container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.ma__top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ma__h1 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
  width: 40%;
}

.ma__bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

//Responsive Design
@media screen and (max-width: 1100px) {
  .ma__h1 {
    width: 50%;
  }
}

@media screen and (max-width: 950px) {
  .bc__bottom {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  .bh__h1 {
    width: 100%;
  }

  .bhi__wrapper {
    aspect-ratio: 16/10.5;
  }
}

@media screen and (max-width: 820px) {
  .bh__header {
    gap: 0.75rem;
  }

  .ma__top {
    gap: 0.75rem;
  }

  .bh__container {
    gap: 2.5rem;
  }

  .bdc__width {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .bh__container {
    padding: 10rem 0 3.5rem;
  }
}

@media screen and (max-width: 680px) {
  .category {
    padding: 0.55rem 0.85rem;
    border-radius: 12px;
    font-size: calc(var(--normal-font-size) - 0.05rem);
  }

  .cat__slider {
    gap: 0.6rem;
  }

  .bhi__wrapper {
    aspect-ratio: 16/12;
  }

  .bh__h1 {
    font-size: calc(var(--70-font-size) - 0.4rem);
  }
}

@media screen and (max-width: 550px) {
  .cat__wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 520px) {
  .bh__header {
    gap: 0.5rem;
  }

  .ma__top {
    gap: 0.5rem;
  }

  .bhi__wrapper {
    aspect-ratio: 16/13;
  }
}
