.services__section{
  width: 100%;
  height: auto;
  padding: 3rem 0 7rem;
}

.services__container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.services__modal{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.5rem
}

.sm__left{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.sm__h1{
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  li
}

.sm__right{
  width: 60%;
}

