.services__section{
  width: 100%;
  height: auto;
  padding: 3rem 0 7rem;
}

.services__container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.services__modal{
  width: 100%;
  height: auto;
}