.services__section {
  width: 100%;
  height: auto;
  padding: 5rem 0 7rem;
}

.services__container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.services__modal {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.5rem;
}

.sm__left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sm__h1 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1;
}

.sm__p {
  line-height: 1.3;
}

.sm__right {
  width: 60%;
  margin-top: 3rem;
}

//Responsive Design
@media screen and (max-width: 820px) {
  .sm__left {
    width: 100%;
    gap: 0.75rem;
  }

  .services__modal {
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
  }

  .sm__right{
    width: 100%;
    margin-top: 0;
  }

  .services__section {
    padding: 4rem 0 7rem;
  }
}

@media screen and (max-width: 520px) {
  .sm__left {
    gap: 0.5rem;
  }
}
