.cs__section{
  width: 100%;
  padding: 5rem 0 7rem;
}

.cs__container{
  display: grid;
  grid-template-columns: 70fr 30fr;
  column-gap: 20px;
}

.cs__left{
  width: 100%;
}

.cs__right{
  width: 100%;
}


//Contact Box Design
.contactbox{
  width: 100%;
  padding: 2rem;
  border-radius: 20px;
  background-color: #F7F7F7;
}

.cb__content{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cb__h3{
  
}