.cs__section{
  width: 100%;
  padding: 5rem 0 7rem;
}

.cs__container{
  display: grid;
  grid-template-columns: 70fr 30fr;
  column-gap: 20px;
}

.cs__left{
  width: 100%;
}

.cs__right{
  width: 100%;
}


//Contact Box Design
.contactbox{
  width: 100%;
  padding: 2rem;
  border-radius: 20px;
  background-color: #F7F7F7;
}

.cb__content{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cb__top{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.cb__h3{
  font-family: var(--medium-font);
  font-weight: 400;
  font-size: var(--30-font-size);
  color: var(--black);
  line-height: 1.1;
}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}

.ff__top{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1.5rem;
}

.tickbox{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.ticktop{
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.tick{
  width: 24px;
  height: 24px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 100%;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.tbutton{
  width: 16px;
  height: 16px;
  background-color: var(--gold);
  border-radius: 100%;
}

.agree{
  display: flex;
  align-items: center;
  gap: 0.1rem;
}