.better__marque {
  width: 0px;
  height: 0px;
  background-color: var(--body-color);
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 2.8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0;
  border-radius: 10px;

  .bi__wrapper {
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);

    .b__image {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        object-fit: cover;
      }
    }

    .b__contact {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 1rem 1.2rem;
      width: 100%;
      height: 100%;
      display: flex;

      .bc__svg {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
      }

      a {
        display: block;
        margin-top: auto;
        text-transform: uppercase;
        color: var(--body-color);
        font-size: calc(var(--normal-font-size) - 0.4rem);
        padding: 0.2rem 0.5rem;
        border: 1px solid white;
        border-radius: 30px;
      }
    }
  }

  .bc__content {
    width: 100%;
    height: 52%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.2rem;
    border: 1px solid var(--grey);
    border-top: none;

    .logo {
      position: relative;
      width: 150px;
      aspect-ratio: 420/73.5815;

      img {
        object-fit: cover;
      }
    }

    .text {
      line-height: 1.4;
      font-size: calc(var(--small-font-size) + 2px);
      display: flex;
      flex-wrap: wrap;
      column-gap: 0.2rem;

      .word__wrapper {
        overflow: hidden;

        .word {
          display: block;
          transform: translateY(-100%);
          color: var(--text-color-light);

          &.highlight {
            color: #fa4515;
          }
        }
      }
    }

    .b__footer {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .coming {
        text-transform: uppercase;
        font-size: calc(var(--normal-font-size) - 0.4rem);
        color: var(--text-color-light);
      }

      .button {
        display: flex;
        gap: 0.5rem;
        font-size: calc(var(--normal-font-size) - 0.4rem);
        text-transform: uppercase;
        font-family: var(--medium-font);

        a {
          color: black;
          position: relative;
          top: 2px;

          &:hover {
            &::after {
              width: 100%;
            }
          }

          &::after {
            content: "";
            width: 0;
            height: 1px;
            background-color: #000000;
            display: block;
            margin-top: 1px;
            position: relative;
            left: 48%;
            transform: translateX(-50%);
            transition: width 0.2s linear;
          }
        }
      }
    }
  }
}


//Responsive Design
@media screen and (max-width: 630px) {
  .better__marque {
    .bi__wrapper {
      .b__contact {
        a {
          font-size: calc(var(--normal-font-size) - 0.3rem);
        }
      }
    }
  
    .bc__content {
      .text {
        line-height: 1.3;
        font-size: calc(var(--small-font-size) + 2px);
        column-gap: 0.2rem;
      }
  
      .b__footer {
        .coming {
          font-size: calc(var(--normal-font-size) - 0.3rem);
        }
  
        .button {
          font-size: calc(var(--normal-font-size) - 0.3rem);
        }
      }
    }
  }
}