.footer__section{
  width: 100%;
  height: auto;
  padding: 5rem 0 1rem;
  background-color: var(--black);
}

.footer__container{
  display: flex;
  flex-direction: column;
  gap: 0;
}

.footer__top{
  width: 100%;
  display: flex;
  justify-content: space-between
  align
}