.footer__section{
  width: 100%;
  height: auto;
  padding: 5rem 0 1rem;
  background-color: var(--black);
}

.footer__container{
  display: flex;
  flex-direction: column;
  gap: 0;
}

.footer__top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.footer__slogan{
  font-size: var(--40-font-size);
  text-transform: uppercase;
  width: 400px;
  font-weight: 400;
  color: white;
  line-height: 1.1;
}

.footer__logo{
  svg{
    height: 88px;
    width: auto;
  }
}

.footer__mid{
  width: 100%;
  height: auto;
  display: flex;
  gap: 4rem;
  align-items: flex-start;
  padding-bottom: 4rem;
}
