.footer__section {
  width: 100%;
  height: auto;
  padding: 5rem 0 1.5rem;
  background-color: var(--black);
  color: white !important;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.footer__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.footer__slogan {
  font-size: var(--40-font-size);
  text-transform: uppercase;
  width: 400px;
  font-weight: 400;
  color: white;
  line-height: 1.1;
}

.footer__logo {
  svg {
    height: 88px;
    width: auto;
  }
}

.footer__mid {
  width: 100%;
  height: auto;
  display: flex;
  gap: 4rem;
  align-items: flex-start;
  padding: 2.5rem 0 5rem;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.fm__left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}

.fml__top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ft__name {
  font-size: var(--20-font-size);
  text-transform: uppercase;
}

.fml__bottom {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.fm__links {
  color: white;
  display: block;
  width: max-content;
  position: relative;
  opacity: 1;
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.5;
    &::after {
      width: 100%;
    }
  }

  &::after {
    content: "";
    width: 0%;
    height: 0.06rem;
    background: white;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
  }
}

.fm__right {
  width: 50%;
  display: flex;
  align-items: flex-start;
  gap: 7rem;
}

.fmr__one {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.fone {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tl__bottom {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  a {
    font-size: calc(var(--normal-font-size) + 0.1rem);
    color: white;
    opacity: 1;
    transition: all 0.5s ease;

    &:hover {
      opacity: 0.5;
    }
  }
}

.text__large {
  font-size: calc(var(--20-font-size) + 0.2rem);
  color: white;
  opacity: 1;

  &.textl__link {
    transition: all 0.5s ease;

    &:hover {
      opacity: 0.5;
    }
  }
}

.footer__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 2.5rem;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 300px;

  p {
    font-size: calc(var(--normal-font-size) + 0.1rem);
  }
}

.nl__left {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.news__span {
  font-size: calc(var(--20-font-size) + 0.2rem);
}

.newsletter__form {
  margin-top: 1rem;
  width: 100%;
}

.fb__right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: calc(var(--normal-font-size) - 0.05rem);
}

.fbl__left {
  display: flex;
  gap: 4rem;
}

.fll__content,
.fbl__right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fb__span {
  opacity: 0.6;
}

.bettermarque {
  cursor: pointer;
  position: relative;

  &:hover {
    &::after {
      width: 100%;
    }
  }

  &::after {
    content: "";
    width: 0%;
    height: 0.06rem;
    background: white;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
  }
}

//Responsive Design
@media screen and (max-width: 960px) {
  .footer__bottom {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
  }
  
  .newsletter {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0rem;
    width: 100%;
  
    p {
      font-size: calc(var(--normal-font-size) + 0.1rem);
    }
  }

  .nl__left {
    width: 300px;
  }
  
  .newsletter__form {
    margin-top: 0rem;
    width: 50%;
  }

  .fb__right {
    width: 100%;
  }
}


@media screen and (max-width: 820px) {
  .footer__slogan {
    font-size: var(--40-font-size);
    width: 300px;
  }
  
  .footer__logo {
    svg {
      height: 70px;
      width: auto;
    }
  }
  
  .fm__right {
    width: 60%;
    gap: 7rem;
  }
}

@media screen and (max-width: 670px) {
  .footer__mid {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .fm__left {
    width: 100%;
    display: grid;
    flex-direction: none;
    gri
  }
}