.languageselector{
  display: grid;
  place-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--black); //Will be changed
  transition: all 0.5s ease;

  &:hover{
    background-color: var(--gold);
  }
}

.language{
  color: white; //Will be changed
  text-transform: uppercase;
  font-family: var(--medium-font);
}


.hero__main{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}


.hero__container{
  height: 100%;
  position: relative;
}

.hc__content{
  display: flex;
  fl
}