.languageselector{
  display: grid;
  place-items: center;
  cursor: pointer;
}

.language{
  width: 36px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background-color: black;
  color: white;
}