.languageselector{
  display: grid;
  place-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--black); //Will be changed
  transition: all 0.5s ease;

  &:hover{
    background-color: var(--gold);

    .language{
      color: var(--colorhover)
    }
  }
}

.language{
  color: var(--color);
  text-transform: uppercase;
  font-family: var(--medium-font);
}


