.navigation {
  width: 100%;
  height: auto;
  padding: 1.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.wordmark {
  svg {
    width: 180px;
    height: auto;

    path {
      fill: var(--logocolor) !important;
    }
  }
}

.navcontent {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.navc__left {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  li {
    list-style: none;
  }
}

.nav__links {
  color: var(--linkcolor);
  font-family: var(--medium-font);
  transition: color 0.5s ease;

  &:hover {
    color: var(--linkh);
  }
}

.navc__right {
  display: flex;
  gap: 0.5rem;
}

.contactlink {
  padding: 0.5rem 1rem;
  background-color: var(--background);
  border-radius: 40px;
  color: var(--color);
  transition: all 0.5s ease;

  &:hover {
    background-color: var(--backhover);
    color: var(--colorhover);
  }

  span {
    font-family: var(--medium-font);
  }
}
