.navigation {
  width: 100%;
  height: auto;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.wordmark{
  svg{
    width: 200px;
    height: auto;

    path{
      fill: black !important
    }
  }
}

.navcontent{
  display: flex;
  gap: 4.
}