.navigation {
  width: 100%;
  height: auto;
  padding: 1.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.wordmark {
  svg {
    width: 180px;
    height: auto;

    path {
      fill: var(--logocolor) !important;
    }
  }
}

.navcontent {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.navc__left {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  li {
    list-style: none;
  }
}

.nav__links {
  color: var(--linkcolor);
  font-family: var(--medium-font);
  transition: color 0.5s ease;

  &:hover {
    color: var(--linkhover);
  }
}

.navc__right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contactlink {
  padding: 0.55rem 1rem 0.45rem;
  background-color: var(--background);
  border-radius: 40px;
  color: var(--color);
  transition: all 0.5s ease;

  &:hover {
    background-color: var(--backhover);
    color: var(--colorhover);
  }

  span {
    font-family: var(--medium-font);
  }
}

.menu__open{
  display: none;
}


//Responsive Design
@media screen and (max-width: 870px) {
  .navc__left{
    display: none;
  }

  .contactlink{
    display: none;
  }

  .navc__right {
    gap: 1rem;
  }

  .menu__open{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .men{
      color: white;
      text-transform: uppercase;
      font-family: var(--medium-font);
    }

    .menu__lines{
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      span{
        width: 40px;
        height: 0.0px;
        display: block;
        background-color: white;
      }
    }
  }
}