.main__input{
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.email{
  font-size: var(--small-font-size);
  text-transform: uppercase;
  font-family: var(--medium-font);
}

.input__wrap{
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 1rem;
  padding: 0.4rem 0.4rem 0.4rem 1rem;
  width: max-content;
}

.input{
  width: 300px;
  height: auto;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}

.button{
  padding: 0.75rem 1rem;
  background-color: white;
  color: black;
  border-radius: 0.6rem;
  transition: all 0.5s ease;

  &:hover{
    background-color: transparent;
    bo
  }
}

