.main__input{
  width: 400px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.email{
  font-size: var(--small-font-size);
  text-transform: uppercase;
  font-family: var(--medium-font);
}

.input__wrap{
  width: 100%;
  position: relative;
}

.input{
  width: 100%;
  height: 50px;
  
}

