.main__input{
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.email{
  font-size: var(--small-font-size);
  text-transform: uppercase;
  font-family: var(--medium-font);
}

.input__wrap{
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 16px;
}

.input{
  width: 100%;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0 0rem 0 0.75rem;
  color: white;
}

