.main__input{
  width: 400px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.email{
  font-size: var(--small-font-size);
  text-transform: uppercase;
  fo
}

