.main__input{
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.email{
  font-size: var(--small-font-size);
  text-transform: uppercase;
  font-family: var(--medium-font);
}

.input__wrap{
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 16px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.input{
  width: 300px;
  height: auto;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}

.button{
  padding: 1rem 1.5rem;
  background-color: white;
  color: black;
  border-radius: 16px;
}

