.preloader__section{
  width: 100vw;
  height: 100dvh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

.preloader__content{
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wmlogo{
  width: 100%;
  height: auto;

  svg{
    width: 100%;
    height: auto;

    path{
      fill: var(--black)
    }
  }
}

.loading{
  width: 100%;
  height: 0.1rem;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.25);
}