.sidebar {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: var(--black);
}

.sidecontent{
  width: 100%;
  height: 100%;
}

.sidebar__wrapper {
  padding-top: 5.5rem;
} 
