.sidebar {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: var(--black);
}

.line {
  width: 100%;
  height: 0.06rem;
  display: block;
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  top: 5.5rem;
  left: 0;
}

.sidebar__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7.5rem 0 2rem;
}

.navc__left{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lili{
  list-style: none;
}

.nav__links{
  color: white;
  font-size: var(--60-font-size);
}

.contact__button{
  width: 100%;
  height: auto;

  a{
    display: block;
    width: 100%;
    height: 50px;
    background-color: white;
    color: var(--black);
    display: grid;
    place-items: center;
    border-radius: 50px;
    overflow: hidden;
    font-family: var(--medium-font);
    font-size: calc(var(--20-font-size) - 0.1rem);
  }
}

.cc__wrap{
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem
}

.cc__main{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.cc__head{
  text-transform: uppercase;
  font-size: calc(var(--normal-font-size) - 0.05rem);
  opacity: 0.7;
}

.cc__content{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  a{
    color: white;
  }

  .cc__linker{
    line-height: 1.4;
    margin-top: -0.1rem;
  }
}


@media screen and (max-width: 410px) {
  
}