.sidebar {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: var(--black);
}

.line {
  width: 100%;
  height: 0.06rem;
  background-color: rgba(255,255,255,0.25);
}

.sidebar__wrapper {

}
