.sidebar {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: var(--black);
}

.line {
  width: 100%;
  height: 0.06rem;
  display: block;
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  top: 5.5rem;
  left: 0;
}

.sidebar__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7.5rem 0 2rem;
}

.navc__left{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lili{
  list-style: none;
}

.nav__links{
  color: white;
  font-size: var(--60-font-size);
}

.contact__button{
  width: 100%;
  height: auto;

  a{
    display: block;
    width: 100%;
    height: 50px;
    background-color: white;
    color: var(--black);
    display: grid;
    place-items: center;
    border-radius: 5;
  }
}