.sidebar {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: var(--black);
}

.line {
  width: 100%;
  height: 0.06rem;
  display: block;
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  top: 5.5rem;
  left: 0;
}

.sidebar__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6.5rem;
}

.navc__left{
  column-width: ;
}