.sidebar {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: var(--black);
}

.sidecontent {
  width: 100%;
  height: 100%;
  padd-top: 5.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.sidebar__wrapper {

}
