.about__section{
  width: 100%;
}

.about__container{
  display: flex;
  flex-direction: column;
  gap: 5rem
}

.as__top{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.ast__top{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.asb__h3{
  font-size: var(--50-font-size);
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -1%;
}