.about__section {
  width: 100%;
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.as__top {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.ast__top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.asb__h3 {
  font-size: var(--50-font-size);
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: -1%;
  color: var(--black);
}

.ast__bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.5rem;
  column-gap: 3.5rem;

  p {
    line-height: 1.3;
  }
}

.as__bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 1.5rem;
}


//Responsive Design
@media screen and (max-width: 1024px) {
  .ast__bottom {
    column-gap: 2.5rem;
  }
}

@media screen and (max-width: 820px) {
  .ast__top {
    gap: 1.2rem;
  }

  .ast__bottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1.5rem;
  
    p {
      line-height: 1.3;
    }
  }
}

@media screen and (max-width: 520px) {
  .ast__top {
    gap: 1rem;
  }
}