.ap__section {
  width: 100%;
  height: auto;
}

.ap__container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;
}

.apc__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.apt__left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

.ap__h1 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
}

.apt__right {
  margin-top: 2.25rem;
}

.apc__bottom {
  width: 100%;
  height: auto;
}

.content__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &:hover{
    .cb__image{
      .cbi__img{
        transform: scale(1.1);
      }
    }
  }
}

.cb__image {
  width: 100%;
  aspect-ratio: 16/10.5;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.cbi__img {
  width: 100%;
  height: 120%;
  tr

  img {
    object-fit: cover;
  }
}

.cb__p{
  color: var(--black);
  font-size: var(--30-font-size);

}
