.cuture__section{
  width: 100%;
  height: auto;
}

.c__container{
  display: flex;
  flex-direction: column;
  gap: 3.5rem
}

.cc__top{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.cc__h1{
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
}

.cc__bottom{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 3rem;
}

.ccb__box{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ccb__span{
  font-size: var(--20-font-size);
}

.box__wrap{
  width: 100%;
  padding-top: 2rem;
  border-top: 1px solid rgba(0,0,0,0.25);
}

.box__content{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.ccb__span2{
  font-size: var(--30-font-size);
  color: var(--black);
}

//Responsive Design
@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 820px) {
  
}