.cuture__section{
  width: 100%;
  height: auto;
}

.c__container{
  display: flex;
  flex-direction: column;
  gap: 3.5rem
}

.cc__top{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.cc__h1{
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
}

.cc__bottom{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 3rem;
}

.ccb__box{
  width: 100%;
  d
}