.director__word{
  width: 100%;
  height: auto;
  padding: 4rem 0;
  position: relative;
}

.dw__wrapper{
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
}

.dw__image{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

