.director__word {
  width: 100%;
  height: auto;
  padding: 5rem 0 3rem;
  position: relative;
}

.dw__wrapper {
  width: 100%;
  aspect-ratio: 16/6.5;
  position: relative;
}

.dw__image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.dwimg {
  width: 100%;
  height: 120%;

  img {
    object-fit: cover;
  }
}

.dw__gradient {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  width: 100%;
  height: 80%;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.dw__content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.dw__container {
  height: 100%;
}

.dwc__content {
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: 80%;
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}

.apost {
  svg {
    width: 24px;
    height: auto;
  }
}

.wordings {
  border-left: 1px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem 0 0.75rem 1.5rem;
}

.word__p {
  font-size: var(--30-font-size);
  font-weight: 400;
  line-height: 1.2;
}

.pp {
  line-height: 1.3;
}

.position {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-top: 1rem;
}

.name {
  font-family: var(--medium-font);
}

//Responsive Design
@media screen and (max-width: 1200px) {
  .dw__wrapper {
    aspect-ratio: 16/8;
  }

  .dwc__content {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .director__word {
    padding: 3.5rem 0 3rem;
  }

  .dwc__content {
    bottom: 2rem;
  }
}

@media screen and (max-width: 860px) {
  .dwc__content {
    width: 100%;
    gap: 1rem
  }

  .dw__wrapper {
    aspect-ratio: 16/12;
  }

  .wordings {
    gap: 0.75rem;
    padding: 0.75rem 0 0.75rem 1rem;
  }
}

@media screen and (max-width: 630px) {
  .dw__wrapper {
    aspect-ratio: 16/16;
  }

  .dwc__content{
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem
  }

  .wordings {
    gap: 0.75rem;
    padding: 0.75rem 0 0rem 0;
    border-left: none;
  }

  .apost {
    svg {
      width: 20px;
    }
  }
}

@media screen and (max-width: 520px) {
  .dw__wrapper {
    aspect-ratio: 16/20;
  }

  .position {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .dw__wrapper {
    aspect-ratio: 16/22;
  }
}