.director__word {
  width: 100%;
  height: auto;
  padding: 4rem 0;
  position: relative;
}

.dw__wrapper {
  width: 100%;
  aspect-ratio: 16/6.5;
  position: relative;
}

.dw__image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.dwimg {
  width: 100%;
  height: 120%;

  img {
    object-fit: cover;
  }
}

.dw__gradient {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  width: 100%;
  height: 60%;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.dw__content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.dw__container{
  height: 100%;
}

.dwc__content{
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: 90%;
  display: flex;
  
}



