.director__word {
  width: 100%;
  height: auto;
  padding: 4rem 0;
  position: relative;
}

.dw__wrapper {
  width: 100%;
  aspect-ratio: 16/6.5;
  position: relative;
}

.dw__image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.dwimg {
  width: 100%;
  height: 120%;

  img {
    object-fit: cover;
  }
}

.dw__gradient {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  width: 100%;
  height: 80%;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.dw__content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.dw__container{
  height: 100%;
}

.dwc__content{
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: 80%;
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}

.apost{
  svg{
    width: 24px;
    height: auto;
  }
}

.wordings{
  padding-left: 1.5rem;
  border-left: 1px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.word__p{
  font-size: var(--30-font-size);
  font-weight: 400;
  line-height: 1.2;
}

.pp{
  line-height: 1.3;
}

.position{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}



