.cs__section {
  width: 100%;
  height: auto;
  padding: 7rem 0;
  background-color: var(--black);
  color: white;
}

.cs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

.cs__top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.cs__h3 {
  font-weight: 400;
  font-size: var(--40-font-size);
  letter-spacing: -1%;
  line-height: 1.1;
}

.cs__bottom{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.cbs__line{
  width: 100%;
  border-top: 1px solid rgba(255,255,255,0.25);
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cbs


//Button design
.button {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.25rem;
  gap: 0.5rem;
  color: white;
  background-color: var(--gold);
  width: max-content;
  font-family: var(--medium-font);
  border-radius: 16px;
  transition: all 0.5s ease;
  cursor: pointer;

  .bicon__wrapper {
    display: flex;
    gap: 0;
    align-items: center;
    position: relative;
    left: -100%;
    transition: left 0.5s ease;

    svg {
      width: 20px;
      height: auto;

      path {
        fill: white;
      }
    }
  }

  &:hover {
    background-color: white;
    color: var(--black);

    .bicon__wrapper {
      left: 0;

      svg {
        path {
          fill: var(--black);
        }
      }
    }
  }
}

.bicon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
}
