.careertravail{
  width: 100%;
  height: auto;
  padding: 7rem 0;
}

.career__container{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}

.cc__top{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.cct__h3{
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
}