.career__section {
  width: 100%;
  padding: 7rem 0 !important;
}

.career__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3.5rem;
}

.cc__h3 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
  width: 35%;
}

.cc__left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  p {
    line-height: 1.3;
  }
}

//Styles fro CAREER SECTION
.cs__section{
  width: 100%;
  height: auto;
  padding: 7rem 0;
  background-color: var(--black);
  color: white;
}

.cs__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem
}

.cs__top{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.cs__h3 {
  font-weight: 400;
  font-size: var(--40-font-size);
  letter-spacing: -1%;
  line-height: 1.1;
}