.careertravail{
  width: 100%;
  height: auto;
  padding: 7rem 0;
}

.career__container{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}

.cc__top{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.cct__h3{
  
}