.cs__section {
  width: 100%;
  height: auto;
  padding: 7rem 0;
  background-color: var(--black);
  color: white;
}

.cs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

.cs__top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.cs__h3 {
  font-weight: 400;
  font-size: var(--40-font-size);
  letter-spacing: -1%;
  line-height: 1.1;
}

.cs__bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.csb__line {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
}

.csb__left {
  width: 60%;

  p {
    text-transform: uppercase;
    font-size: var(--30-font-size);
  }
}

//Button design
.button {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.25rem;
  gap: 0.5rem;
  color: white;
  background-color: var(--gold);
  width: max-content;
  font-family: var(--medium-font);
  border-radius: 16px;
  transition: all 0.5s ease;
  cursor: pointer;

  .bicon__wrapper {
    display: flex;
    gap: 0;
    align-items: center;
    position: relative;
    left: -100%;
    transition: left 0.5s ease;

    svg {
      width: 20px;
      height: auto;

      path {
        fill: white;
      }
    }
  }

  &:hover {
    background-color: white;
    color: var(--black);

    .bicon__wrapper {
      left: 0;

      svg {
        path {
          fill: var(--black);
        }
      }
    }
  }
}

.bicon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

//Modal Design

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 1000;
}

.modal__container {
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--black);
  padding: 0rem 3rem;
  z-index: 1;
  overflow: scroll;
}

.modal__back {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

.modal__content {
  color: white;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.mc__one {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mc__p {
  font-size: var(--20-font-size);
  width: 85%;
  line-height: 1.3;
}

.mc__h3 {
  font-weight: 400;
  font-size: var(--40-font-size);
  letter-spacing: -1%;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 2rem;
}

.mc__h33 {
  font-weight: 400;
  font-size: var(--30-font-size);
  letter-spacing: -1%;
  line-height: 1.1;
  text-transform: capitalize;
}

.mc__two {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.task {
  width: 100%;
  padding-left: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 1rem;
}

.li {
  width: 100%;
  font-size: calc(var(--20-font-size) - 0.2rem);
  line-height: 1.3;
}

.mc__three {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  margin-top: 1rem;
}

.mct__left,
.mct__right,
.mcf__left,
.mcf__right {
  width: 50%;
}

.mct__left {
  font-weight: 400;
  font-size: var(--30-font-size);
  letter-spacing: -1%;
  line-height: 1.1;
}

.mct__right {
  font-size: calc(var(--20-font-size) - 0.2rem);
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  a {
    font-size: var(--30-font-size);
    color: var(--gold);
    text-decoration: underline;
    transition: all 0.5s ease;

    &:hover {
      color: white;
    }
  }
}

.mc__four {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  margin-top: 1rem;
}

.mcf__left{
  position: relative;
  aspect-ratio: 1;
  border-radius: 20px;
  overflow: hidden;

  img{
    object-fit: cover;
  }
}

.mcr__top{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  h3{
    font-weight: 400;
    font-size: var(--30-font-size);
    letter-spacing: -1%;
    line-height: 1.1;
    text-transform: capitalize;
  }
}