.career__section {
  width: 100%;
  padding: 7rem 0 !important;
}

.career__container, .cth__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3.5rem;
}

.cc__h3, .cth__h3 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
  width: 35%;
}

.cc__left, .cth__left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  p {
    line-height: 1.3;
  }
}

.ol{
  margin-left: ;
}