.career__section {
  width: 100%;
  padding: 7rem 0 !important;
}

.career__container, .ctc__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3.5rem;
}

.cc__h3, .cth__h3 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
  width: 35%;
}

.cc__left, .cth__left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  p {
    line-height: 1.3;
  }
}

.ol{
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem
}

.cth__container{
  display: flex;
  flex-direction: column;
  gap: 5rem
}

.ctc__bottom{
  width: 100%;
  height: auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 3rem;
  border-radius: 30px;
}

.cti__left,
.cti__right {
  width: 50%;
}

.cti__left {
  aspect-ratio: 16/10;
  position: relative;
  border-radius: 14px;
  overflow: hidden;
}

.cti__image {
  width: 100%;
  height: 120%;

  img {
    object-fit: cover;
  }
}

.cti__right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem 0;
  height: auto;

  h3{
    font-weight: 400;
    font-size: var(--40-font-size);
    color: var(--black);
    letter-spacing: -1%;
    line-height: 1.1;
  }
}

.ctr__top{
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.ctt{
  display: flex;
  flex-direction: ;
}
