.loc__section{
  width: 100%;
}

.loc__container{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.loc__top{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}

.lt__top{
  display: flex;
  flex-direction: column;
  all
}

