.loc__section {
  width: 100%;
}

.loc__container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.loc__top {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}

.lt__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.lt__h1 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
}

.lt__bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.5rem;
}

.lt__p {
  line-height: 1.3;
}

.map__container {
  width: 100%;
  aspect-ratio: 16 / 8; // supporte la plupart des navigateurs
  border-radius: 20px;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

//Responsive Design
@media screen and (max-width: 1024px) {
  .map__container {
    aspect-ratio: 16 / 10; // supporte la plupart des navigateurs
  }
}

@media screen and (max-width: 900px) {
  .lt__bottom {
    column-gap: 2rem;
  }
}

@media screen and (max-width: 820px) {
  .lt__top {
    gap: 0.75rem;
  }
}

@media screen and (max-width: 820px) {
  .lt__top {
    gap: 0.5rem;
  }
}
