.pc__section{
  width: 100%;
}

.pc__container{
  display: flex;
  flex-direction: column;
  gap: 5rem
}

.pc__top{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.5rem;
}

.pct__h3{
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
}