.pc__section {
  width: 100%;
}

.pc__container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.pc__top {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.5rem;
}

.pct__h3 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
}

.pct__p {
  line-height: 1.3;
}

.pct__left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pc__bottom {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.agent {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.aimage {
  width: 400px;
  aspect-ratio: 9/10.5;
  position: relative;
  border-radius: 16px;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}
.details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.name {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
}

.position {
}

//Button design
.button {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.25rem;
  gap: 0.5rem;
  color: white;
  background-color: var(--gold);
  width: max-content;
  font-family: var(--medium-font);
  border-radius: 16px;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-top: 1rem; //// Remove on others

  .bicon__wrapper {
    display: flex;
    gap: 0;
    align-items: center;
    position: relative;
    left: -100%;
    transition: left 0.5s ease;

    svg {
      width: 20px;
      height: auto;

      path {
        fill: white;
      }
    }
  }

  &:hover {
    background-color: var(--black);
    color: white;

    .bicon__wrapper {
      left: 0;

      svg {
        path {
          fill: white;
        }
      }
    }
  }
}

.bicon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
}
