.pdt__section{
  color: white;
  background-color: var(--black);
  padding: 4rem 0 5rem;
}

.pdt__container{
  display: flex;
  flex-direction: column;
  gap: 0;
}

.pdc__content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba(255,255,255,0.);
}

