.pdo__section {
  width: 100%;
  height: auto;
}

.pdo__container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.pd__top,
.pd__bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem;
}

.pt__left,
.pt__right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.p__h3 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
}

.pdb__content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.ptext {
  line-height: 1.3;
}

//Button design
.button {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.25rem;
  gap: 0.5rem;
  color: white;
  background-color: var(--gold);
  width: max-content;
  font-family: var(--medium-font);
  border-radius: 16px;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-top: 1rem; //// Remove on others

  .bicon__wrapper {
    display: flex;
    gap: 0;
    align-items: center;
    position: relative;
    left: -100%;
    transition: left 0.5s ease;

    svg {
      width: 20px;
      height: auto;

      path {
        fill: white;
      }
    }
  }

  &:hover {
    background-color: var(--black);
    color: white;

    .bicon__wrapper {
      left: 0;

      svg {
        path {
          fill: white;
        }
      }
    }
  }
}

.bicon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

//Responsive Design
@media screen and (max-width: 900px) {
  .pdo__container {
    gap: 4rem;
  }

  .pd__top,
  .pd__bottom {
    gap: 2rem;
  }
}

@media screen and (max-width: 820px) {
  .pt__left,
  .pt__right {
    gap: 0.7rem;
  }
}

@media screen and (max-width: 750px) {
  .pd__top,
  .pd__bottom {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .pd__bottom{
    gap: 1.25rem
  }

  .pdb__content {
    gap: 1rem;
  }
}

@media screen and (max-width: 520px) {
  .pt__left,
  .pt__right {
    gap: 0.5rem;
  }
}
