.pdo__section{
  width: 100%;
  height: auto;
}

.pdo__container{
  display: flex;
  flex-direction: column;
  gap: 5rem
}

.pd__top, .pd__bottom{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem
}

.pt__left, .pt__right{
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.p__h3{
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
}

