.pp__section {
  width: 100%;
  padding: 7rem 0;
  background-color: var(--black);
  color: white;
}

.pp__container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}

.ppc__top {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.pp__h1 {
  font-size: var(--30-font-size);
  font-weight: 400;
  color: white;
  letter-spacing: -1%;
  line-height: 1.1;
}

.ppc__bottom {
  width: 100%;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.pcb__wrapper {
  width: 100%;
  height: auto;
  overflow: scroll;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow: hidden;
  border-radius: 16px;
}

.table__row {
  width: 100%;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 16fr 15fr 22fr 15fr 22fr 10fr;
  color: white;
  gap: 0;

  &.tr__main {
    background-color: var(--gold);
  }

  &.tr__other {
    background-color: rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.8);

    &.no__top {
      border-top: none;
    }
  }
}

.table__span {
  text-transform: uppercase;
  font-family: var(--medium-font);
  font-size: calc(var(--small-font-size) + 0.1rem);
}

.tr__span2 {
  font-size: calc(var(--normal-font-size) + 0.1rem);
}

.download {
  display: flex;
  align-items: center;
  gap: 0.15rem;
  color: var(--gold);

  svg {
    margin-top: 2px;
  }
}

//Responsive Design
@media screen and (max-width: 1024px) {
  .table {
    width: 980px;
  }

  .pp__section {
    padding: 6.5rem 0;
  }
}

@media screen and (max-width: 540px) {
  .pp__section {
    padding: 6.5rem 0;
  }
}
