.pp__section{
  width: 100%;
  padding: 7rem 0;
  background-color: var(--black);
  color: white;
}

.pp__container{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}

.ppc__top{
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.pp__h1{
  font-size: var(--30-font-size);
  font-weight: 400;
  color: white;
  letter-spacing: -1%;
  line-height: 1.1;
}

.ppc__bottom{
  width: 100%;
  position: relative;
}

