.pp__section{
  width: 100%;
  padding: 7rem 0;
  background-color: var(--black);
  color: white;
}

.pp__container{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}

.ppc__top{
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.pp__h1{
  font-size: var(--30-font-size);
  font-weight: 400;
  color: white;
  letter-spacing: -1%;
  line-height: 1.1;
}

.ppc__bottom{
  width: 100%;
  position: relative;
  overflow: hidden;
}

.pcb__wrapper{
  width: 100%;
  height: auto;
  overflow: scroll;
}

.table{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow: hidden;
  border-radius: 16px;
}

.table__row{
  width: 100%;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 16fr 15fr 22fr 15fr 22fr 10fr;
  color: white;
  gap: 0;

  &.tr__main{
    background-color: var(--gold);
  }
}

.table__span{
  text-transform: uppercase;
  font-family: var(--medium-font);
  font-size: calc(var(--small-font-size) + 0.1rem);
}

.tr__span2{
  f
}