.pp__section{
  width: 100%;
  padding: 7rem 0;
  background-color: var(--black);
  color: white;
}

.pp__container{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}

.ppc__top{
  width: ma;
}