.ref__section{
  width: 100%;
  height: auto;
}

.ref__container{
  display: flex;
  flex-direction: column;
  gap: 0
}

.ref__box{
  width: 100%;
  padding: 1.25rem 0;
  border-top: 1px solid rgba(0,0,0,0.25);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.rb__left{
  
}