.ref__section {
  width: 100%;
  height: auto;
  color: var(--black);
  position: relative;
}

.ref__container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.ref__box {
  width: 100%;
  padding: 1.25rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.rb__left {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rbl__name {
  font-size: var(--30-font-size);
  font-weight: 400;
  text-transform: uppercase;
}

.rb__right {
  width: 50%;
  position: relative;
  aspect-ratio: 16/10.5;
  overflow: hidden;
}

.rbr__image {
  width: 100%;
  height: 120%;

  img {
    object-fit: cover;
  }
}
