.ref__section {
  width: 100%;
  height: auto;
  color: var(--black);
  position: relative;
  padding: 1.75rem 0 7rem 0;
}

.ref__container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.ref__box {
  width: 100%;
  padding: 1.25rem 0 1.25rem;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &:nth-of-type(1){
    border-top: none;
  }
}

.rb__left {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rbl__name {
  font-size: var(--30-font-size);
  font-weight: 400;
  text-transform: uppercase;
}

.rbl__info{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.rinfo{
  font-size: calc(var(--20-font-size) - 0.1rem);
}

.info{
  font-family: var(--medium-font);
}

.rr{
  opacity: 0.6;
}

.rb__right {
  width: 50%;
  position: relative;
  aspect-ratio: 16/10.5;
  overflow: hidden;
  border-radius: 16px;
}

.rbr__image {
  width: 100%;
  height: 120%;

  img {
    object-fit: cover;
  }
}
