.sq__section {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sq__wrapper {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--black);
  z-index: 1;
  padding: 0rem 3rem;
  overflow: scroll;
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}

.sq__back {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.sq__content {
  color: white;
  padding: 3rem 0 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}

.sqc__top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.logo {
  svg {
    width: 200px;
    height: auto;
  }
}

.st__p {
  width: 80%;
  line-height: 1.3;
}

.cancel {
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.sqc__bottom {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.section__one {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.so__head {
  width: 100%;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(210, 161, 114, 0.25);
  color: var(--gold);

  p {
    font-size: calc(var(--small-font-size));
    text-transform: uppercase;
    font-family: var(--medium-font);
  }
}

.so__question {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.soq__wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
}

.s__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: transparent;
  color: white;
  transition: all 0.5s ease;

  span {
    user-select: none;
  }

  &.active {
    background-color: white;
    color: var(--black);
  }
}

//TickBox
.ticks__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.tickbox {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: white !important;
}

.ticktop {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.tick {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  cursor: pointer;
  display: grid;
  place-items: center;

  &.active {
    .tbutton {
      opacity: 1;
    }
  }
}

.tbutton {
  width: 12px;
  height: 12px;
  background-color: var(--gold);
  border-radius: 100%;
  opacity: 0;
  transition: all 0.3s ease;
}

.agree {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: white;

  a {
    text-decoration: underline;
    color: white;
  }
}

.checkbox__error {
  font-size: calc(var(--normal-font-size) - 0.125rem);
  color: rgb(255, 0, 0);
  margin-top: -0.2rem;
}

//Button design
.button {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.25rem;
  gap: 0.5rem;
  color: white;
  background-color: var(--gold);
  width: max-content;
  font-family: var(--medium-font);
  border-radius: 16px;
  transition: all 0.5s ease;
  cursor: pointer;

  .bicon__wrapper {
    display: flex;
    gap: 0;
    align-items: center;
    position: relative;
    left: -100%;
    transition: left 0.5s ease;

    svg {
      width: 20px;
      height: auto;

      path {
        fill: white;
      }
    }
  }

  &:hover {
    background-color: white;
    color: var(--black);

    .bicon__wrapper {
      left: 0;

      svg {
        path {
          fill: var(--black);
        }
      }
    }

    .sub__right {
      .spinner {
        background: linear-gradient(
              0deg,
              rgba(210, 161, 255, 0.5) 30%,
              #72717100 0 70%,
              rgb(255, 255, 255) 0
            )
            50%/8% 100%,
          linear-gradient(
              90deg,
              rgba(255, 255, 255, 0.25) 30%,
              #72717100 0 70%,
              rgba(255, 255, 255, 0.75) 0
            )
            50%/100% 8%;
      }
    }
  }
}

.bicon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

.spinner {
  width: 25px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5) 30%,
        #72717100 0 70%,
        rgb(255, 255, 255) 0
      )
      50%/8% 100%,
    linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.25) 30%,
        #72717100 0 70%,
        rgba(255, 255, 255, 0.75) 0
      )
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: s3 1s infinite steps(12);
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}
