.sq__section{
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sq__wrapper{
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--black);
  z-index: 1;
  padding: 0rem 3rem;
  overflow: scroll;
}

.sq__back{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(5px);
}

.sq__content{
  color: white;
  padding: 3rem 0 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}

.sqc__top{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logo{
  svg{
    width: 200px;
    height: auto;
  }
}

.