.vv__image{
  width: 100%;
  aspect-ratio: 16/8.5;
  position: relative;
  border-radius: 20px;
  overflow: hidden;

  img{
    object-fit: cover;
  }
}

.vv__section{
  width: 100%;
  padding: 7rem 0 !important;
}

//Responsive Design
@media screen and (max-width: 1024px) {
  .vv__image{
    width: 100%;
    aspect-ratio: 16/8.5;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
  }
}