.bs__section{
  width: 100%;
  height: auto;
}

.bs__container{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;
}

.bs__top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bst__l