.herosection{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.image__wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

.hero__image{
  width: 100%;
  height: 100%;
  position: relative;
}