.herosection{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.image__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero__video{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.hero__gradient{
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.hero__main{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}


.hero__container{
  height: 100%;
  position: relative;
}

.hc__content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  width: 50%;
  bottom: 5rem;
  left: 0;
}

.hc__h1{
  color: white;
  text-transform: uppercase;
  font-size: var(--70-font-size);
  line-height: 1;
  letter-spacing: -2%;
}

.hc__button{
  margin-top: 1.25rem;
}


//Responsive Design
@media screen and (max-width: 1320px) {
  .hc__content{
    width: 70%;
  }
}

@media screen and (max-width: 790px) {
  .hc__content{
    width: 50%;
    bottom: 3rem;
  }
}