.herosection{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.image__wrapper, .hero__image{
  width: 100%;
  height: 100%;
  position: relative;
}

.hero__image{
  img{
    object-fit: cover;
  }
}

.hero__gradient{
  background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 255, 255, 1) 100%);
}