.herosection{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.image__wrapper, .hero__image{
  width: 100%;
  height: 100%;
  position: relative;
}

.hero__image{
  img{
    object-fit: cover;
  }
}

.hero__gradient{
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.hero__main{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}


.hero__container{
  height: 100%;
  position: relative;
}

.hc__content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hc__h1{
  
}