.concept__section{
  width: 100%;
  height: auto;
}

.concept__container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap
}

.cc__left{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}

.cc__right{
  width: 65%;
}