.concept__section {
  width: 100%;
  height: auto;
}

.concept__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}

.cc__left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

.cc__h1 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
}

.cc__right {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.cc__p {
  font-size: var(--30-font-size);
  color: var(--black);
}
