.project__section{
  width: 100%;
  height: auto;
}

.project__container{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  display: flex;
  align-items: center;
}

.pc__top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: max-content;
  align-items: center;
}

.pc__h1 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
}

.pc__bottom{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px
}

//Responsive Design
@media screen and (max-width: 820px) {
  .project__container{
    gap: 2.5rem;
  }
}
