.project__section{
  width: 100%;
  height: auto;
}

.project__container{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  display: flex;
  flex-direction: column;
}

.pc__top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.s__h1 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
}