.qs__section {
  width: 100%;
  height: auto;
}

.qs__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.qs__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.qs__h1 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
}

.qs__bottom {
  width: 75%;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  padding: 0 3rem 3rem 3rem;
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.2));;
}

.qs__interior {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.qsi__top {
  width: 100%;
  overflow: auto;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-150%);
    z-index: 0  }
}

.qs__cat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.category {
  padding: 2rem 0 1.5rem;
  font-family: var(--regular-font);
  font-size: calc(var(--20-font-size) - 0.2rem);
  cursor: pointer;
  border-bottom: 4px solid transparent;
  transition: all 0.5s ease;

  &.active__cat {
    border-bottom: 4px solid var(--gold);
    color: var(--black);
    font-family: var(--medium-font);
  }
}

.qsi__bottom{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.qs__p{
  color: var(--black);
}

.qsb__bottom{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.filters{
  width: calc(100% - 121px - 1.5rem); //1.5rem gap 
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.filter{
  padding: 0.8rem 1.25rem;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 16px;
  color: var(--black);
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s ease;

  &.filter__active{
    background-color: var(--black);
    color: white;
    border: 1px solid transparent;
  }
}

.searchButton{
  width: max-content;
  border-radius: 16px;
  overflow: hidden;

  &.disabled{
    opacity: 0.3;
  }
}


//Responsive Design
@media screen and (max-width: 1160px) {
  
}