.stat__section{
  width: 100%;
  height: auto;
}

.ss__container{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}

.ss__top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: max-content;
  align-items: center;
}

.ss__h1 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
}

.ss__bottom{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 1.5rem;
}