.stat


.ss__top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: max-content;
  align-items: center;
}

.ss__h1 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
}