.testi__section {
  width: 100%;
  height: auto;
  padding: 7rem 0 !important;
}

.testi__container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;
}

.testi__top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

.testi__h1 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
}

.testi__bottom{
  width: 100%;
  height: auto;
}

.testi__card{
  width: 600px;
  aspect-ratio: 16/12;
  background-color: #f5f5f5;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  overflow: hidden;
  padding: 2rem 1.75rem
}

.tc__top{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem
}

.tci__wrapper{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;

  img{
    object-fit: cover;
  }
}

.testi__detail{
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.owner__name{
  font-size: var(--20-font-size);
  font-family: var(--medium-font);
  color: var(--black);
}

.project{
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
}



