.testi__section {
  width: 100%;
  height: auto;
  // padding: 7rem 0 !important;
}

.testi__container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-start;
}

.testi__top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

.testi__h1 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
}

.testi__bottom {
  width: 100%;
  height: auto;
}

.testi__card {
  width: 100%;
  aspect-ratio: 16/12;
  background-color: #f5f5f5;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  align-items: flex-start;
  overflow: hidden;
  padding: 1.75rem 1.75rem;
}

.tc__top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tci__wrapper {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;

  img {
    object-fit: cover;
  }
}

.testi__detail {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.owner__name {
  font-size: var(--20-font-size);
  font-family: var(--medium-font);
  color: var(--black);
}

.project {
  display: inline-flex;
  column-gap: 0.25rem;
  align-items: center;
  font-family: var(--medium-font);
  flex-wrap: wrap;
  row-gap: 0rem;
}

.tc__p {
  font-size: calc(var(--30-font-size) - 0.15rem);
  line-height: 1.25;
  font-family: var(--medium-font);
  color: var(--black);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* number of lines */
  overflow: hidden;
}

.tc__button {
  margin-top: auto;
}

//Responsive Design
@media screen and (max-width: 1370px) {
  .testi__top {
    width: 60%;
  }
}

@media screen and (max-width: 1160px) {
  .tc__p {
    font-size: calc(var(--30-font-size) - 0.25rem);
    line-height: 1.25;
    -webkit-line-clamp: 5; /* number of lines */
  }

  .testi__card {
    aspect-ratio: 16/13;
  }
}

@media screen and (max-width: 1088px) {
  .tc__p {
    font-size: calc(var(--30-font-size) - 0rem);
    line-height: 1.25;
  }
}

@media screen and (max-width: 830px) {
  .tci__wrapper {
    width: 60px;
    height: 60px;
  }

  .testi__card {
    gap: 1.5rem;
    padding: 1.5rem 1.5rem;
  }
}

@media screen and (max-width: 820px) {
  .testi__top {
    gap: 0.7rem;
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .testi__top {
    gap: 0.5rem;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .tc__p {
    line-height: 1.25;
    -webkit-line-clamp: 7; /* number of lines */
  }

  .testi__card {
    aspect-ratio: 1;
    padding: 1.25rem;
  }

  .project {
    font-size: calc(var(--small-font-size) + 0.125rem);
  }

  .tci__wrapper {
    width: 50px;
    height: 50px;
  }

  .tc__top {
    gap: 0.75rem;
  }
}

@media screen and (max-width: 450px) {
  .testi__card {
    aspect-ratio: 1/1.1;
  }
}

@media screen and (max-width: 410px) {
  .testi__card {
    aspect-ratio: 1/1.2;
  }
}

@media screen and (max-width: 380px) {
  .testi__card {
    aspect-ratio: 1/1.3;
  }
}

@media screen and (max-width: 350px) {
  .testi__card {
    aspect-ratio: 1/1.;
  }
}
