.blogcard{
  width: 100%;
  aspect-ratio: 16/10.5;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.bc__image{
  position: relative;
  width: 100%;
  height: 100%;
}

.bc__image{
  width: 100%;
  height: 100%;

  img{
    object-fit: cover;
  }
}

.bc__gradient{
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}

.bc__gradient2{
  width: 100%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.bc__content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.bcc__top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bc__tag{
  font-size: var(--small-font-size);
  color: var(--black);
  
}
