.blogcard{
  width: 100%;
  aspect-ratio: 16/10.5;
  position: relative;
}

.bc__image{
  position: relative;
  width: 100%;
  height: 100%;
}

.bc__image{
  width: 100%;
  height: 100%;

  img{
    object-fit: cover;
  }
}