.blogcard{
  width: 100%;
  aspect-ratio: 16/10.5;
  position: relative;
  border-radius: ;
}

.bc__image{
  position: relative;
  width: 100%;
  height: 100%;
}

.bc__image{
  width: 100%;
  height: 100%;

  img{
    object-fit: cover;
  }
}

.bc__gradient{
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.bc__gradient2{
  width: 100%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}