.blogcard{
  width: 100%;
  aspect-ratio: 16/10.5;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.bc__image{
  position: relative;
  width: 100%;
  height: 100%;
}

.bci__wrap{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.bc__img{
  width: 100%;
  height: 120%;

  img{
    object-fit: cover;
  }
}

.bc__gradient{
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}

.bc__gradient2{
  width: 100%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.bc__content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.bcc__top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bc__tag{
  font-size: var(--small-font-size);
  color: var(--black);
  background-color: white;
  padding: 0.3rem 0.6rem;
  text-transform: uppercase;
  border-radius: 20px;
  font-family: var(--medium-font);
  width: max-content;
}

.bc__date{
  color: white;
  font-size: var(--small-font-size);
  letter-spacing: 7%;
  text-transform: uppercase;
}

.bcc__bottom{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem
}

.bcc__h3{
  font-size: calc(var(--20-font-size) + 0.2rem);
  color: white;
  width: 60%;
  font-weight: 400;
  line-height: 1.1;
}

.bcc__link{
  padding: 0.8rem 1.25rem;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.2);
  color: white;
  border-radius: 16px;
  backdrop-filter: blur(1rem);
  transition: all 0.5s ease;

  &:hover{
    background-color: white;
    color: black;
  }
}


//Responsive Design
@media screen and (max) {
  
}