.button {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.25rem;
  gap: 0.5rem;
  color: var(--black);
  background-color: var(--background);
  width: max-content;
  font-family: var(--medium-font);
  border-radius: 12px;
  transition: all 0.5s ease;

  &:hover {
    background-color: var(--backhover);
    
    .bicon__wrapper {
      left: 0;
    }
  }
}

.bicon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

.bicon__wrapper {
  display: flex;
  gap: 0;
  align-items: center;
  position: relative;
  left: -100%;
  transition: left 0.5s ease;

  svg {
    width: 20px;
    height: auto;
  }
}
