.button{
  display: flex;
  align-items: center;
  padding: 0.7rem 1.25rem;
  gap: 0.5rem;
  color: black;
  background-color: white;
  width: max-content;
}

.bicon{
  width: 20px;
  height: 20px;
  overflow: hidden;
}

