.button{
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  gap: 0.5rem;
  color: var(--black);
  background-color: white;
  width: max-content;
}

.bicon{
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

.bicon__wrapper{
  display: flex;
  gap: 0;
  align-items: center;
  position: relative;
  transform: translate(50%);

  svg{
    width: 20px;
    height: auto;
  }
}



