.cookie__section {
  width: 100%;
  height: auto;
  position: relative;
  position: fixed;
  bottom: 20px;
  right: 0;
  z-index: 1000;
}

.cookie__container {
  height: auto;
}

.overlay {
  position: relative;
  margin-left: auto;
  padding: 0;
  border-radius: 8px;
  width: max-content;
  height: auto;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  opacity: 0
}

.modal {
  background: #e0fae7;
  padding: 1rem 1.25rem;
  border-radius: 8px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

}

.modal__top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    font-family: var(--medium-font);
    font-weight: 500;
    font-size: calc(var(--normal-font-size) + 0.2rem);
    color: var(--green);
  }

  p {
    font-size: calc(var(--normal-font-size) - 0.05rem);
  }
}

.modal__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    background: var(--green);
    color: var(--lightergreen);
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: calc(var(--normal-font-size) - 0.05rem);
    transition: all 0.4s ease-in-out;

    &:hover {
      color: var(--green);
      border: 1px solid var(--green);
      background-color: transparent;
    }
  }

  a {
    font-size: calc(var(--normal-font-size) - 0.05rem);
    color: var(--green);
    text-decoration: underline;
  }
}

//Responsive Design
@media screen and (max-width: 440px) {
  .overlay {
    width: 100%;
  }

  .modal {
    width: 100%;
  }

  .modal__bottom {
    button {
      padding: 0.3rem 0.85rem 0.43rem;
      font-size: calc(var(--normal-font-size) - 0.075rem);
    }

    a {
      font-size: calc(var(--normal-font-size) - 0.075rem);
    }
  }

  .modal__top {
    p {
      font-size: calc(var(--normal-font-size) - 0.075rem);
    }
  }
}
