.input__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  height: auto;
}

.input {
  width: 100%;
  height: 60px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0 0 0 1rem;
  border: none;
  color: var(--black);
  border-radius: 16px;

  &:focus {
    border: 1px solid var(--gold);
  }

  &:invalid[data-focused="true"] {
    border: 1px solid red;
  }

  &:invalid[data-focused="true"] ~ .error {
    display: block;
  }
}

.input2 {
  width: 100%;
  height: 60px;
  outline: none;
  background-color: transparent;
  padding: 0 0 0 1rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
  border-radius: 16px;

  &:focus {
    border: 1px solid var(--gold);
  }

  &:invalid[data-focused="true"] {
    border: 1px solid red;
  }

  &:invalid[data-focused="true"] ~ .error {
    display: block;
  }

  input[type="number"] {
    appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.textarea {
  width: 100%;
  min-height: 250px;
  padding-top: 1rem;
  padding-left: 1rem;
  outline: none;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  color: var(--black);
  border-radius: 16px;
  overflow: hidden;
  resize: none;

  &:focus {
    border: 1px solid var(--gold);
  }

  &:invalid[data-focused="true"] {
    border: 1px solid red;
  }

  &:invalid[data-focused="true"] ~ .error {
    display: block;
  }
}

.error {
  font-size: calc(var(--normal-font-size) - 0.125rem);
  color: rgb(255, 0, 0);
  display: none;
  margin-top: -0.2rem;
}

.label {
  font-size: calc(var(--normal-font-size) - 0.25rem);
  text-transform: uppercase;
  font-family: var(--medium-font);
}
