.ih__section{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero__image{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden
}

.h__image{
  width: 100%;
  height: 120%;

  img{
    object-fit: cover;
  }
}

.hero__gradient{
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.hero__content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.hs__container{
  height: 100%;
  position: relative;
}

.hs__content{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 5rem;
  left: 0;
}

.hsc__left{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.hsc__span{
  text-transform: uppercase;
  color: white;
  background-color: rgba(0,0,0,0.25);
  padding: 0.4rem 0.7rem;
  border-radius: 20px;
  backdrop-filter: blur(0.3rem);
  font-size: var(--small-font-size);
  width: max-content;
  font-family: var(--medium-font);
}

.hsc__h3{
  text-transform: uppercase;
  font-size: var(--60-font-size);
  color: white;
  letter-spacing: -2%;
  line-height: 1;
}

//Button design
.button {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.25rem;
  gap: 0.5rem;
  color: white;
  background-color: white;
  width: max-content;
  font-family: var(--medium-font);
  border-radius: 16px;
  transition: all 0.5s ease;
  cursor: pointer;

  .bicon__wrapper {
    display: flex;
    gap: 0;
    align-items: center;
    position: relative;
    left: -100%;
    transition: left 0.5s ease;

    svg {
      width: 20px;
      height: auto;

      path {
        fill: white;
      }
    }
  }

  &:hover {
    background-color: var(--black);
    color: white;

    .bicon__wrapper {
      left: 0;

      svg {
        path {
          fill: white
        }
      }
    }
  }
}

.bicon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
}
