.ih__section{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero__image{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden
}

.h__image{
  width: 100%;
  height: 120%;

  img{
    object-fit: cover;
  }
}

.hero__gradient{
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.hero__content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.hs__container{
  height: 100%;
  position: relative;
}

.hs__content{
  width: 100%;
  height: auto;
  display: flex;
  
}