.ih__section{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero__image{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden
}

.h__image{
  width: 100%;
  height: 120%;

  img{
    object-fit: cover;
  }
}

