.interest__section{
  width: 100%;
  padding: 3.5rem 0 0;
}

.interest__container{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.int__box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem
}

.image__wrapper, .int__content{
  width: 50%;
}

.image__wrapper{
  position: relative;
  aspect-ratio: 16/10;
  border-radius: 20px;
  overflow: hidden;
}

.image{
  width: 100%;
  height: 120%;
  position: relative;

  img{
    object-fit: cover;
  }
}

.int__content{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.ic__h3{
  
}