.interest__section{
  width: 100%;
  padding: 3.5rem 0 0;
}

.interest__container{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.int__box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem
}

.image__wrapper, .int__content{
  width: 50%;
}

.image__wrapper{
  
}