.ps__section {
  margin-bottom: 7rem;
  width: 100%;
}

.ps__container {
  display: flex;
  align-items: flex-start;
  gap: 0rem;
}

.ps__left {
  width: 30%;
  padding: 5rem 1.5rem 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: sticky;
  top: 80px
}

.ps__h3 {
  font-size: var(--30-font-size);
  font-weight: 400;
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
}

.ps__h4 {
  font-size: var(--20-font-size);
  font-weight: 400;
  color: var(--black);
  line-height: 1.1;
}

.psl__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: 10fr 90fr;
  cursor: pointer;
}

.lspan {
  color: var(--text-color);
}

.lp {
  color: var(--black);
}

.ps__right {
  width: 70%;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  padding: 5rem 0rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.psr__one {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.psr__two {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pso {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    line-height: 1.3;
  }

  li {
    line-height: 1.3;
  }
}

.p__bold {
  color: var(--black);
  font-family: var(--medium-font);
}

.ul {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


//Responsive Design
@media screen and (max-width: 1024px) {
  .ps__container {
    flex-direction: column;
    gap: 5rem;
  }

  .ps__left {
    width: 100%;
    padding: 5rem 0rem 0rem 0;
    position: relative;
    top: 20px
  }
  
  .psl__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
    row-gap: 1.5rem;
  }

  .ps__right {
    width: 100%;
    border-left: none;
    padding: 0rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }
}

@media screen and (max-width: 820px) {
  .ps__left {
    width: 100%;
    padding: 5rem 0rem 0rem 0;
    position: relative;
    top: 20px
  }
}