.ps__section {
  margin-bottom: 7rem;
  width: 100%;
}

.ps__container {
  display: flex;
  align-items: flex-start;
  gap: 0rem;
}

.ps__left {
  width: 30%;
  padding: 5rem 1.5rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ps__h3{
  font-size: var(--30-font-size);
  font-weight: 400;
  color: var(--black);
  letter-spacing: -1%;
  line-height: 1.1;
}

.psl__list{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.list{
  width: 100%;
  display: grid;
  grid-template-columns: 10fr 90fr;
}


.ps__right {
  width: 70%;
  height: 600px;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}


