.ps__section {
  margin-bottom: 7rem;
  width: 100%;
}

.ps__container {
  display: flex;
  align-items: flex-start;
  gap: 3.5rem;
}

.ps__left {
  width: 30%;
}

.ps__right {
  width: 70%;
  height: 600px;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}
