.project__box{
  width: 100%;
  height: 680px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

.pb__image{
  width: 100%;
  height: 100%;
  position: relative;
}

.pb__img{
  position: relative;
  width: 100%;
  height: 100%;

  img{
    object-fit: cover;
  }
}

.pb__gradient{
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: ;
}