.project__box{
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  border-radius: 24px;
}

.pb__image{
  width: 100%;
  height: 100%;
  position: relative;
}

.pb__img{
  position: relative;
  width: 100%;
  height: 100%;

  img{
    object-fit: cover;
  }
}

.pb__gradient{
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);;
}

.pb__content{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.pcb__left{
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



