.reuse__section{
  width: 100%;
  height: auto;
  padding: 10rem 0 2.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

.reuse__container{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.rc__top{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.rc__h3{
  font-size: var(--70-font-size);
  font-weight: 400;
  letter-spacing: -2%;
  color: var(--black);
}

.rc__bottom{
  width: 100%;
  display: flex;
}

