.rpd__section{
  width: 100%;
  height: auto;
  padding: 5rem 0 7rem;
}

.rpd__container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

//Responsive Design
@media screen and (max-width: 700px) {
  .rpd__section{
    width: 100%;
    height: auto;
    padding: 5rem 0 7rem;
  }
}