.reuse__section {
  width: 100%;
  height: auto;
}

.reuse__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 11rem 0 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.rc__top {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.rc__h3 {
  font-size: var(--70-font-size);
  font-weight: 400;
  letter-spacing: -2%;
  color: var(--black);
}

.rc__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.rcb__left {
  width: 40%;

  p {
    font-size: var(--30-font-size);
    color: black;
    line-height: 1.15;
  }
}

.rcb__right {
  width: 50%;

  p {
    line-height: 1.3;
  }
}

//Button design
.button {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.25rem;
  gap: 0.5rem;
  color: var(--color);
  background-color: var(--background);
  width: max-content;
  font-family: var(--medium-font);
  border-radius: 16px;
  transition: all 0.5s ease;

  .bicon__wrapper {
    display: flex;
    gap: 0;
    align-items: center;
    position: relative;
    left: -100%;
    transition: left 0.5s ease;

    svg {
      width: 20px;
      height: auto;

      path {
        fill: var(--iconcolor);
      }
    }
  }

  &:hover {
    background-color: var(--backhover);
    color: var(--colorhover);

    .bicon__wrapper {
      left: 0;

      svg {
        path {
          fill: var(--iconhover);
        }
      }
    }
  }
}

.bicon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

