.special__section {
  width: 100%;
  height: auto;
}

.special__container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.sc__top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sc__h1 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
}

.sc__bottom {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.sbimage__wrap {
  width: 50%;
  aspect-ratio: 16/12;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.sb__left {
  width: 100%;
  height: 120%;

  img {
    object-fit: cover;
  }
}

.sb__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sbr__h3 {
  font-weight: 400;
  font-size: var(--30-font-size);
  color: var(--black);
  font-family: var(--medium-font);
  letter-spacing: -1%;
}

.sbr__p {
  font-size: calc(var(--20-font-size) - 0.1rem);
}

.sbr__links {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0.5rem;
}

.sbr__link {
  padding: 0.8rem 1.25rem;
  background-color: var(--gold);
  color: white;
  border-radius: 16px;
  transition: all 0.5s ease;

  &:hover {
    background-color: var(--black);
  }
}


//Responsive Design
@media screen and (max-width: 1300px) {
  
}