.special__section{
  width: 100%;
  height: auto;
}

.special__container{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.sc__top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sc__h1 {
  font-weight: 400;
  font-size: var(--40-font-size);
  color: var(--black);
  letter-spacing: -1%;
}

.sc__bottom{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 3rem
}

.sb__left{
  width: 50%;
  aspect-ratio: 16/10;
  position: relative;
  border-radius: ;

  img{
    object-fit: cover;
  }
}

.sb__right{
  width: 50%;
}