.statbox{
  width: 100%;
  height: auto;
  border-left: 1px solid rgba(0,0,0,0.25);
  padding: 0.75rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.stat__span{
  color: var(--black);
}

.sb__bottom{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.sb__icon{
  svg{
    height: 100px;
    width: auto;
  }
}