.content__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  user-select: none;

  &:hover {
    .cb__image {
      filter: brightness(0.8);
    }
  }
}

.content__box2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  user-select: none;
}

.cb__image {
  width: 100%;
  aspect-ratio: 16/11;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  filter: brightness(1);
  transition: all 0.5s ease;
}

.cbi__img {
  width: 100%;
  height: 120%;
}

.cb__p {
  color: var(--black);
  font-size: var(--30-font-size);
}


//Responsive Design
@media screen and (max-width: 480px) {
  .cb__image {
    aspect-ratio: 16/13;
  }
}