.vb__section{
  position: relative;
  width: 100%;
  height: auto;
  padding: 0rem 0 3rem;
}

.vbslider__container{
  width: 100%;
  padding: 2rem 0;
  border-bottom: 1px solid var(--orange);
}

.vb__slider{
  width: max-content;
  position: relative;
  display: flex;
}

.vslider__main{
  display: flex;
  
  .vslider__space{
    width: 1rem;
    height: 1rem;
    display: block;
  }
}

.vslider__content{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-family: var(--script-font);
  font-size: calc(var(--h2-font-size) - 0.3rem);
  color: var(--orange);
}

.vfirst__slide{
  display: flex;
  align-items: center;
  gap: 1.5rem;

  p{
    word-wrap: none;
  }

  .vspan__button{
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--orange);
  }
}

//Responsive Design
@media screen and (max-width: 650px) {
  .vbslider__container{
    padding: 1.3rem 0;
  }

  .vfirst__slide{
    .vspan__button{
      width: 0.75rem;
      height: 0.75rem;
    }
  }
}