.video__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video__wrapper :global(.video-js) {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.video__wrapper :global(video) {
  width: 100%;
  height: 100%;
  object-fit: cover; // 👈 key line
}