.filter__modal {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.25);
  // clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  min-height: 500px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
}

.modal__content {
  width: 40%;
  height: 100%;
  background-color: var(--black);
}

.modal__container {
  padding: 0rem 2rem;
  color: white;
}
.modal__container{
  padding: 0 2rem;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.modal__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.m__name{
  font-size: calc(var(--30-font-size);
}

.modal__cancel{
  cursor: pointer;

  svg{
    width: 45px;
    height: auto;
    transform: rotate(45deg);
  }
}
