.rb__section {
  width: 100%;
  height: auto;
  position: relative;
  padding: 2rem 0 7rem;
}

.rb__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
}

.filter__sort {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  position: sticky;
  top: 6rem;
  z-index: 900;
}

.filter__button {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.25rem;
  gap: 0.5rem;
  color: white;
  background-color: var(--black);
  width: max-content;
  font-family: var(--medium-font);
  border-radius: 16px;
  border: 1px solid transparent;
  transition: all 0.5s ease;
  cursor: pointer;
}

.sort__wrapper {
  position: relative;
}

.sort__button {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.25rem;
  gap: 0.5rem;
  color: var(--black);
  background-color: transparent;
  width: max-content;
  font-family: var(--medium-font);
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;
  cursor: pointer;
  background-color: white;

  &.active__sort {
    .f__icon {
      transform: rotate(180deg);
    }
  }
}

.f__icon {
  position: relative;
  transform: none;
  top: 2px;
  transition: all 0.5s ease;

  svg {
    width: 20px;
    height: auto;
  }
}

.sorting__box {
  position: absolute;
  top: 100%;
  margin-top: 0.75rem;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  width: max-content;
  border: 1px solid rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 16px;
  z-index: 200;
  height: auto;
  clip-path: polygon(0% 0%, 105% 0%, 105% 0%, 0% 0%);
  transition: all 0.5s ease;
  background-color: white;

  &.active__box {
    clip-path: polygon(0% 0%, 105% 0%, 105% 100%, 0% 100%);
  }
}

.sorter {
  display: flex;
  align-items: center;
  color: var(--black);
  gap: 0.5rem;
  font-family: var(--medium-font);
  padding: 0.5rem 1rem 0.5rem 0.7rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 100%;
  transition: all 0.5s ease;

  &.active__sorter {
    background-color: var(--gold);
    color: white;

    .f__icon {
      svg {
        path {
          fill: white;
        }
      }
    }
  }

  .f__icon {
    svg {
      width: 24px;
      height: auto;
    }
  }
}


.properties{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 4rem;
}

//Responsive Design
@media screen and (max-width: 1190px) {
  .properties{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 4rem;
  }
}

@media screen and (max-width: 1024px) {
  .properties{
    row-gap: 2.5rem;
  }
}