.property__card{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.property__top{
  width: 100%;
  aspect-ratio: 16/12;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}